
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .img-max {
        max-width: 500px;
        width:100%;
      }
      </style>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<%= render 'layouts/navigation' %>

  </head>
<body>

<div class="container-fluid text-center bg-light">

  <div class="row py-3 justify-content-center">
     <div class="col-md-8">
  <hr class="my-4">
  <h1 class="font-weight-bold text-center text-info">
MAKE YOUR OWN POLLINATOR GARDEN
</h1>
<hr class="my-4">

<h6>If you'd like to go the extra step in helping to protect the pollinators,
  you can make your yard into a pollinator paradise! Here are some tips to help you get started.

<br><br>Looking for more in-depth information?
<%= link_to "Gardenista's Native Pollinator Crash Course", "https://www.gardenista.com/posts/native-pollinator-garden-crash-course/", target:"_blank" %>

</h6>

  <p><ul class="list-group">
    <li class="list-group-item">» Assess the qualities of your garden site including sunlight, soil, moisture levels,
      wind exposure and outside wildlife pressures.</li>
      <li class="list-group-item">» Include plants native to your region. Natives are adapted to your local climate,
        soil and native pollinators. Check out the <a href="https://www.nwf.org/nativePlantFinder/plants" target="blank">Native Plant Finder</a>
      to see what plants and flowers are best for your region.</li>
<li class="list-group-item">» Use a wide variety of plants that bloom from early spring into late fall</li>
<li class="list-group-item">» Night-blooming plants will support bats and moths </li>
<li class="list-group-item">» Avoid modern hybrid flowers. Breeders have often left out scent, nectar and pollen.  </li>
<li class="list-group-item">» Eliminate the use of pesticides whenever possible. If you must use pesticides, use the least-toxic
 material possible.</li>
 <li class="list-group-item">» Include larval host plants in your garden</li>
   <li class="list-group-item">» By leaving dead trees, or at least an occasional dead limb, you provide essential nesting sites
    for native bees.</i>
  <li class="list-group-item">» You can go a step further and <a href="https://www.fs.fed.us/wildflowers/kids/activities/beebox.shtml" target="blank">build a bee box.</a></li>
<li class="list-group-item">» You can add nectar to resources by adding a <a href="https://www.wbu.com/essential-tips-hummingbird-feeders/" target="blank">hummingbird feeder.</a></i>
<li class="list-group-item">» Include muddy spots where insects can access water and soil minerals, as well as well-drained places for ground nesting.</li>
</ul>
</body>
</div>
</div>
</div>
