

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beautify NY</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<%= render 'layouts/navigation' %>

  </head>
<body>
  <div class="row py-3 justify-content-center">
     <div class="col-md-6 text-center">
  <hr class="my-4">
  <h1 class="display-4 font-weight-bold text-center text-info">
RESOURCES
</h1>
<hr class="my-4">

<div class="list-group">
  <a href="https://www.pollinator.org/" target="blank" class="list-group-item list-group-item-action">Pollinator Partnership</a>
  <a href="https://parks.ny.gov/" target="blank" class="list-group-item list-group-item-action">NYS Parks</a>
  <a href="https://www.nrcs.usda.gov/wps/portal/nrcs/main/national/plantsanimals/pollinate/" class="list-group-item list-group-item-action">Insects and Pollinators (USDA-NRCS)</a>
<a href="http://www.dodnaturalresources.net/The-Facts-About-Pollinators_8-12-16.pdf" target="blank" class="list-group-item list-group-item-action">The Facts About Pollinators</a>
<a href="https://xerces.org/pollinator-conservation" target="blank" class="list-group-item list-group-item-action">Pollinator Conservation Program - XERCES Society</a>
<a href="https://www.nwf.org/Educational-Resources/Wildlife-Guide/Pollinators" target="blank" class="list-group-item list-group-item-action">Pollinators (National Wildlife Federation)</a>
<li class="list-group-item text-info"><b>RESOURCES FOR KIDS:</b></li>
 <a href="https://kids.niehs.nih.gov/topics/natural-world/wildlife/ecology/pollinators/index.htm" target="blank" class="list-group-item list-group-item-action">Our Health Depends on Pollinators (Kids Environment)</a>
 <a href="https://www.coolkidfacts.com/pollination-for-kids/" target="blank" class="list-group-item list-group-item-action">Pollination for Kids (Cool Kids Facts)</a>
 <a href="https://youtu.be/CUPzbTuJlgc" target="blank" class="list-group-item list-group-item-action">Flower Learning Video (YouTube)</a>
</div>
</div>
</div>
</body>
</html>
